/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto',sans-serif;
    color: #eee;
}
body{
    width: 100%;
    height: 100%;
    background: url("/Profile\ Page/images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;

}
section{
    
}
a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.8rem;
    font-weight: 300;

}
img{
    width: 100%;

}
/*End global*/

/*Start reusable*/
.containerBox{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.Heading{
    text-align: center;
    margin-top: 10rem;

}
.Heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255,.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 2rem;
    
    
}
/* the following lines create a beautiful underline in heading of every section */
.Heading h1::before , 
.Heading h1::after{
    content:"";
    position: absolute;
    left: 50%;
    bottom: -.5rem;
    transform: translateX(-50%);
    background-color: rgba(255, 255,255,.75);
    
}
.Heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: 30%;
    bottom: -.9rem;
} 
.Heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1.5rem;
} 
.Heading h4{
    font-size: 1.5rem;
    font-weight: 300;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;

}
.navbar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);

}
.navList{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 2rem;
}
.navLinks{
    font-family: 'Niconne', cursive;
    
    font-size: 5rem;
    padding: 1rem;

}
.navLinks:hover,.navLinks:focus{
    background: linear-gradient(to top ,#ffe838 , #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar.open{
    top: 0;
    border-radius: initial;
}
.toggleMenu{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}
.toggleMenu.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right , #ffe838 , #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;

}
.bar.half{
    width: 50%;
}
.bar.left{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.open .bar.left{
    transform: rotate(270deg) translateX(.8rem);
}
.open .bar.Right{
    transform: rotate(-90deg) translateX(-.8rem);
}
.bar.Right{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54,-0.81,0.57,0.57);
}
.welcomeSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
    z-index: 1;

}
.welcomeSection h1{
    font-size: 10rem;
    font-family: 'Niconne', cursive;
    background: linear-gradient(to top ,#833ab4 , #fd1d1d,#fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}
.welcomeSection h3{
    font-size: 2rem;
    font-weight: 300;
}


/*End header*/

/*Start about*/
.about .containerBox{  
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProfileHeading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.ProfileHeading h1{
    font-size: 10rem;
    opacity: .3;

}
.ProfileHeading h4{
     font-size: 2rem;
    font-weight: 300;
}
.profilePhoto{
    flex: 1;
    margin-right: 5rem;
}
.ProfileDetails{
    flex: 1;

}
.socialMediaIcons{
    margin-top: 5rem;
}
.socialMediaIcons i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-facebook-square:hover{
    color:#3b5998;
}
.fa-twitter-square:hover{
    color:#00ACEE;
}
.fa-github-square:hover{
    color:#0c0f16;
}
/*End about*/

/*Start services*/
.allMySkills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;

}
.iconContainer{
    width: 9rem;
    height: 9rem;
    border: 2.5px solid #86d604;
    background-color: #fcb045;
    border-radius: 20%;
    margin-bottom: 2rem;
    display: flex;
}
.iconContainer i{
   color: #0d0f13;
   font-size: 5rem;
   margin: auto;

}
.iconContainer img{
padding: 1.5rem;
}
/*End services*/

/*Start projects*/
.projectItem{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

}
.projectItem:last-child{
    margin-bottom: 0;
}
.projectImg{
    width: 50rem;
    flex: 1;

}

.projectDescription{  
    flex: 1;

}
.projectDescription h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}
.projectDescription h1{
    font-size:3.5rem;
    font-weight: 300;
}

/*End projects */

/*Start timeline*/
/*End timeline*/

/*Start contact*/
/*End contact*/

/*Start footer*/
/*End footer*/

/*Start animations*/
/*End animations*/

/*Start media queries*/
/*End media queries*/